.block-2 {
	display: flex;
	gap: 70px;
	margin-top: 90px;

	// .block-2__h
	&__h {
		font-size: rem(20);
		font-weight: 600;
		line-height: 1.5;
		margin-bottom: 14px;
	}

	// .block-2__options
	&__options {
		display: flex;
		flex-wrap: wrap;
		gap: 14px;

		& > div {
			// flex: 1 1 33%;
			flex: 1 1 20em;
		}
	}

	// .block-2__content
	&__content {
		flex: 1 1 55%;

		@include resp-from(hd) {
			flex-basis: 55%;
		}
	}

	// .block-2__list
	&__list {
		padding: 30px;
		background: $gray-blue;
		border-radius: 16px;
		border: 1px solid $stroke-2;
		color: $gray-dark;
		font-family: $family-alternate;
		font-size: rem(16);
		font-weight: 500;
		line-height: 1.5;

		ol {
			margin: 0 0 52px;

			li {
				list-style-type: decimal-leading-zero;
				padding: 12px 0 9px 10px;
				margin: 0;
				border-bottom: 1px solid $stroke-2;

				&:first-child {
					border-top: 1px solid $stroke-2;
				}

				&::marker {
					color: $green;
				}
			}
		}
	}

	// .block-2__text
	&__text {
		padding: 10px;
		background: $gray-blue;
		border-radius: 16px;
		border: 1px solid $stroke-2;

		display: grid;
		grid-auto-rows: 1fr;
		grid-template-columns: 1fr 1fr;
		gap: 10px;

		// display: flex;
		// flex-wrap: wrap;
		// gap: 10px;

		// & > div {
		// 	// flex: 1 1 33%;
		// 	flex: 1 1 20em;
		// }
	}

	// .block-2__text-item
	&__text-item {
		padding: 28px;
		background: $white;
		border-radius: 15px;
		border: 1px solid $stroke-1;
	}

	// .block-2__header
	&__header {
		font-size: rem(24);
		line-height: 1.5;
		font-weight: 600;
		color: $black-real;
		text-transform: uppercase;
		margin-bottom: 2px;
	}

	// .block-2__body
	&__body {
		font-family: $family-alternate;
		font-size: rem(18);
		line-height: 1.5;
		font-weight: 500;
		color: $gray-dark;
	}

	// .block-2__swiper
	&__swiper {
		flex: 1 1 45%;
		background: $gray;
		border-radius: 20px;
		padding: 45px 20px;

		@include resp-from(hd) {
			flex-basis: 45%;
		}
	}
}
