.block-1 {
	margin-top: var(--block-margin-top);
	display: flex;
	flex-direction: column;
	gap: 30px;

	@include resp-from(lg) {
		flex-direction: row;
	}

	@include resp-from(hd) {
		gap: 70px;
	}

	// .block-1__text
	&__text {
		flex: 1 1 65%;
		display: flex;
		flex-direction: column;
		gap: 24px;

		@include resp-from(lg) {
			flex-basis: 55%;
		}

		@include resp-from(hd) {
			flex-basis: 65%;
		}
	}

	// .block-1__header
	&__header {
		font-size: rem(48);
		font-size: clamp(24px, 3vw, 48px);
		font-weight: 700;
		text-transform: uppercase;
	}

	// .block-1__body
	&__body {
		flex-grow: 1;
		align-content: center;
		font-size: rem(24);
		font-size: clamp(16px, 1.5vw, 24px);
		line-height: 1.5;
		padding: 17px 28px;
		background: $gray;
		border: 1px solid $stroke-1;
		border-radius: 15px;
	}

	// .block-1__info
	&__info {
		flex: 1 1 35%;
		display: grid;
		grid-auto-rows: 1fr;
		gap: 20px;

		@include resp-from(lg) {
			flex-basis: 45%;
		}

		@include resp-from(hd) {
			flex-basis: 35%;
		}
	}

	// .block-1__info-item
	&__info-item {
		display: flex;
		align-items: center;
		gap: 16px;
		font-size: rem(15);
		font-size: clamp(13px, 1.3vw, 15px);
		line-height: 1.5;
		color: $white;
		background: $green;
		border-radius: 9px;
		padding: 13px 20px;
	}

	// .block-1__info-icon
	&__info-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 58px;
	}

	// .block-1__info-text
	&__info-text {
	}
}
