.cards {
	margin-top: 45px;

	@include resp-from(lg) {
		margin-top: 90px;
	}

	// .cards__h
	&__h {
		font-size: rem(48);
		font-size: clamp(24px, 3vw, 48px);
		font-weight: 600;
		text-transform: uppercase;
		margin: 20px 0;

		@include resp-from(xl) {
			margin: 60px 0 40px;
		}
	}

	// .cards__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin-bottom: 30px;

		@include resp-from(md) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
			// margin-bottom: 50px;
		}

		@include resp-from(lg) {
			gap: 30px;
			// margin-bottom: 90px;
		}

		.dynamic-adapt {
			@include resp-from(md) {
				display: none;
			}
		}
	}

	// .cards__content
	&__content {
	}
}

.card {
	background: $gray-blue;
	border-radius: 20px;
	border: 1px solid $stroke-2;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all $transition-default;
	text-decoration: none;

	@include resp-from(md) {
		padding: 30px 16px;
	}

	@include resp-from(lg) {
		padding: 30px;
	}

	&.is-opened {
		background: $green;
		color: $white;

		.card__btn {
			span {
				transform: rotate(0);
			}
		}
	}

	// @include on-hover {
	// 	@extend .is-opened;
	// }

	@media (hover: hover) {
		/* when hover is supported */
		@include on-hover {
			background: $green;
			color: $white;

			.card__btn {
				span {
					transform: rotate(0);
				}
			}
		}
	}

	@media (hover: none) {
		/* when hover is not supported */
		@include on-active {
			background: $green;
			color: $white;

			.card__btn {
				span {
					transform: rotate(0);
				}
			}
		}
	}

	@include resp-from(lg) {
		padding: 40px;
	}

	@include resp-from(hd) {
		padding: 50px;
	}

	// .card__image
	&__image {
		margin-bottom: 34px;
	}

	// .card__title
	&__title {
		font-size: rem(24);
		font-size: clamp(16px, 1.5vw, 24px);
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: 36px;
		width: 100%;
		text-align: left;
	}

	// .card__desc
	&__desc {
		width: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-top: auto;
		gap: 15px;

		@include resp-from(md) {
			flex-direction: column;
			align-items: flex-start;
		}

		@include resp-from(xl) {
			flex-direction: row;
			align-items: flex-end;
			gap: 0;
		}
	}

	// .card__num
	&__num {
		font-family: $family-alternate;
		font-size: rem(150);
		font-size: clamp(70px, 7vw, 150px);
		font-weight: 500;
		line-height: 0.72;
	}

	// .card__more
	&__more {
		flex: 0;
	}

	// .card__btn
	&__btn {
		font-size: rem(14);
		font-weight: 500;
		background: $white;
		color: $black;
		padding: 5px 10px 5px 5px;
		border-radius: 100px;
		border: 1px solid $stroke-1;
		display: flex;
		align-items: center;
		gap: 5px;

		@include resp-from(md) {
			padding: 10px 20px 10px 10px;
			gap: 10px;
		}

		@include resp-from(lg) {
			font-size: rem(16);
			padding: 10px 30px 10px 10px;
		}

		@include resp-from(fhd) {
			font-size: rem(18);
			padding: 10px 30px 10px 10px;
		}

		span {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			aspect-ratio: 1;
			background: $green;
			border-radius: 50%;
			transform: rotate(56deg);
			transition: all $transition-default;

			@include resp-from(fhd) {
				width: 60px;
			}
		}
	}
}

.card-data {
	max-height: 0;
	overflow: hidden;
	transition: max-height $transition-default;

	// max-height: 2000px !important;

	// .card-data__top
	&__top {
		position: relative;
		background: $green;
		color: $white;
		border-radius: 20px;
		padding: 25px 40px;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		gap: 5%;
		margin-bottom: 30px;

		@include resp-from(xl) {
			padding: 32px 40px;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			right: 40px;
			top: 40px;
			width: 24px;
			height: 24px;
			background: $svg-arrow-long 0 0 no-repeat;

			@include resp-from(lg) {
				top: 67px;
				width: 48px;
				height: 48px;
			}
		}

		@include resp-from(lg) {
			flex-direction: row;
			align-items: flex-end;
		}
	}

	// .card-data__images
	&__images {
		display: flex;
		align-items: center;
		min-width: 350px;
		padding: 0 30px;

		@include resp-from(sm) {
			padding: 0;
		}

		@include resp-from(lg) {
			min-width: 500px;
		}

		img {
			padding: 0 5px;
			box-sizing: border-box;
			transition: all $transition-default;

			@include resp-from(sm) {
				padding: 0 10px;
			}

			@include resp-from(lg) {
				// box-sizing: content-box;
			}

			@include on-hover {
				transform: scale(1.15);
			}
		}
	}

	// .card-data__descr
	&__descr {
		margin: 10px 0 20px;

		@include resp-from(lg) {
			margin: 10px 0;
		}

		@include resp-from(hd) {
			margin: 20px 0;
		}
	}

	// .card-data__header
	&__header {
		font-family: $family-alternate;
		font-size: rem(60);
		font-size: clamp(24px, 3.5vw, 60px);
		font-weight: 600;
		line-height: 1.1;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	// .card-data__body
	&__body {
		font-family: $family-alternate;
		font-size: rem(27);
		font-size: clamp(18px, 2vw, 27px);
		font-weight: 300;
		line-height: 1.2;
		margin-bottom: 20px;

		@include resp-from(hd) {
			margin-bottom: 34px;
		}
	}

	// .card-data__note
	&__note {
		font-size: rem(16);
		display: flex;
		flex-wrap: wrap;
		gap: 10px;

		& > div {
			display: flex;
			align-items: center;
			gap: 10px;

			&::before {
				content: "";
				display: block;
				width: 23px;
				height: 24px;
				background: $svg-star 0 0 no-repeat;
			}
		}
	}

	// .card-data__bottom
	&__bottom {
		border-radius: 20px;
		border: 1px solid $stroke-2;
	}

	// .card-data__common
	&__common {
		padding: 34px 20px;
		color: $gray-dark;
		font-family: $family-alternate;
		font-size: rem(18);
		font-size: clamp(18px, 4vw, 24px);
		font-weight: 500;
		line-height: 1.2;

		@include resp-from(md) {
			// font-size: rem(32);
			padding: 34px;
		}

		@include resp-from(lg) {
			font-size: clamp(24px, 2vw, 32px);
		}

		@include resp-from(xl) {
			padding: 43px 95px;
		}

		& > div {
			display: flex;
			align-items: center;
			gap: 30px;
			padding: 18px 20px;
			border-bottom: 1px solid $stroke-2;

			&:first-child {
				border-top: 1px solid $stroke-2;
			}

			&::before {
				content: "";
				display: block;
				flex: 0 0 auto;
				width: 18px;
				height: 28px;
				background: $svg-drop 0 0 no-repeat;

				@include resp-from(lg) {
					width: 24px;
					height: 38px;
				}
			}
		}
	}

	// .card-data__item
	&__item {
		padding: 34px;
		border-radius: 20px;
		background: $gray-blue;
	}
}

.item {
	// .item__header
	&__header {
		font-size: rem(20);
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 30px;

		@include resp-from(lg) {
			font-size: rem(24);
		}
	}

	// .item__row
	&__row {
		background: $white;
		border: 1px solid $stroke-1;
		border-radius: 12px;
		padding: 23px;
		margin-bottom: 8px;

		@include resp-from(md) {
			display: flex;
			gap: 20px;
			align-items: center;
		}
	}

	// .item__title
	&__title {
		font-size: rem(16);
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 10px;

		@include resp-from(md) {
			flex: 0 0 250px;
			margin-bottom: 0;
		}

		@include resp-from(lg) {
			font-size: rem(20);
			flex: 0 0 340px;
		}
	}

	// .item__body
	&__body {
		font-size: rem(16);
		font-weight: 500;
		color: $gray-dark;

		@include resp-from(lg) {
			font-size: rem(20);
		}
	}
}
