.drop {
	position: absolute;
	opacity: 0;
	display: none;
	z-index: 2;

	@include resp-from(md) {
		display: block;
	}
}

.drop-static-1 {
	opacity: 1;
	top: 100px;
	left: -200px;
	width: 290px;
	transform: rotate(150deg);

	@include resp-from(xl) {
		left: -250px;
	}
}

.drop-static-2 {
	opacity: 1;
	top: 1000px;
	right: -150px;
	width: 300px;

	@include resp-from(xl) {
		width: auto;
		right: -330px;
	}
}

.drop-static-3 {
	opacity: 1;
	bottom: 4200px;
	left: -130px;
	width: 250px;
	transform: rotate(150deg);

	@include resp-from(xl) {
		left: -230px;
	}
}

.drop-static-4 {
	opacity: 1;
	bottom: 2800px;
	right: -260px;
	width: 250px;
	transform: rotate(160deg);
}

.drop-static-5 {
	opacity: 1;
	bottom: 1950px;
	left: -500px;
	width: 260px;

	@include resp-from(xl) {
		left: -230px;
	}
}

.drop-static-6 {
	opacity: 1;
	bottom: 1000px;
	left: -190px;

	@include resp-from(xl) {
		left: -290px;
	}
}

.drop-static-7 {
	opacity: 1;
	bottom: 100px;
	right: -200px;
	width: 300px;

	@include resp-from(xl) {
		right: -280px;
	}
}

.drop-1 {
	--distance: 600px;
	--duration: 6s;
	--delay: 5s;
	width: 35px;
	top: 30px;
	right: 42%;
	animation: slideDown var(--duration) ease-in var(--delay) infinite;

	@include resp-from(xl) {
		width: auto;
	}
}

.drop-2 {
	--distance: 400px;
	--duration: 8s;
	--delay: 1s;
	width: 30px;
	top: 150px;
	right: 27%;
	animation: slideDown var(--duration) ease-in var(--delay) infinite;

	@include resp-from(xl) {
		width: auto;
		right: 37%;
	}
}

.drop-3 {
	--distance: 900px;
	--duration: 10s;
	--delay: 3s;
	width: 30px;
	top: 580px;
	right: 20px;
	animation: slideDown var(--duration) ease-in var(--delay) infinite;

	@include resp-from(xl) {
		width: auto;
		right: -60px;
	}
}

.drop-4 {
	--distance: 1000px;
	--duration: 12s;
	--delay: 2s;
	width: 35px;
	top: 1200px;
	left: 10px;
	animation: slideDown var(--duration) ease-in var(--delay) infinite;

	@include resp-from(xl) {
		width: auto;
		left: -30px;
	}
}

.drop-5 {
	--distance: 1200px;
	--duration: 10s;
	--delay: 3s;
	width: 45px;
	top: 2600px;
	right: 60px;
	animation: slideDown var(--duration) ease-in var(--delay) infinite;

	@include resp-from(xl) {
		width: auto;
		right: -70px;
	}
}

.drop-6 {
	--distance: 1000px;
	--duration: 12s;
	--delay: 2s;
	width: 40px;
	top: 2660px;
	right: 10px;
	animation: slideDown var(--duration) ease-in var(--delay) infinite;

	@include resp-from(xl) {
		width: 35px;
		right: -100px;
	}
}

.drop-7 {
	--distance: 1200px;
	--duration: 10s;
	--delay: 5s;
	width: 35px;
	top: 2000px;
	left: 50px;
	animation: slideDown var(--duration) ease-in var(--delay) infinite;

	@include resp-from(xl) {
		width: auto;
		left: -70px;
	}
}

.drop-8 {
	--distance: 1200px;
	--duration: 12s;
	--delay: 2s;
	width: 40px;
	top: 3500px;
	left: 20px;
	animation: slideDown var(--duration) ease-in var(--delay) infinite;

	@include resp-from(xl) {
		width: auto;
		left: -80px;
	}
}
