// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
	// .header__wrapper
	&__wrapper {
		display: flex;
		justify-content: center;
		padding: 20px 0;

		@include resp-from(md) {
			padding: 48px 0;
		}
	}

	// .header__logo
	&__logo {
		a {
			display: flex;
			width: 70%;
			margin: 0 auto;

			@include resp-from(md) {
				width: auto;
			}
		}
	}

	// .header__nav
	&__nav {
		display: flex;
		align-items: center;
		position: relative;
	}
}
