// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
	// .header__wrapper
	&__wrapper {
		padding: 20px 0;

		@include resp-from(md) {
			padding: 48px 0;
		}
	}

	// .header__logo
	&__logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .header__nav
	&__nav {
		display: flex;
		align-items: center;
		position: relative;
	}
}

.logo-company {
	display: flex;
	width: 70%;

	@include resp-from(md) {
		width: auto;
		position: absolute;
	}
}

.logo-product {
	margin: 0 auto;

	img {
		max-height: 70px;
		object-fit: contain;

		@include resp-from(md) {
			max-height: none;
		}
	}
}
