<div class="block-1">
	<div class="block-1__text">
		<img src="@img/advantages.png" width="333" height="105" alt="">
		<div class="block-1__header">Главное вдохновение <br>бренда <span class="text-green">BIOLOGICA&nbsp;—</span></div>
		<div class="block-1__body">
			это синергия Человека и Природы, что позволяет более эффективно использовать природные компоненты.<br /><strong>Ферментированный комплекс Fermented biosaccharides</strong> является активатором клеточных коммуникаций, способствуя восстановлению микробиома <strong>(иммунитета)</strong> кожи.<br />Ингредиенты, полученные в результате ферментирования, становятся в десятки раз эффективнее.
		</div>
	</div>
	<div class="block-1__info">
		<div class="block-1__info-item">
			<div class="block-1__info-icon">
				<svg width="50" height="51">
					<use xlink:href="#icon-person"></use>
				</svg>
			</div>
			<div class="block-1__info-text">Продукты марки BIOLOGICA подходят для кожи любого типа, включая <strong>чувствительную</strong></div>
		</div>
		<div class="block-1__info-item">
			<div class="block-1__info-icon">
				<svg width="54" height="46">
					<use xlink:href="#icon-eco"></use>
				</svg>
			</div>
			<div class="block-1__info-text"><strong>Натуральные экстракты</strong> растений и протеины пшеницы обволакивают кутикулу волоса, создавая натуральный барьер от негативных факторов окружающей среды</div>
		</div>
		<div class="block-1__info-item">
			<div class="block-1__info-icon">
				<img src="@img/icon-natural.png" width="56" height="56" alt="">
			</div>
			<div class="block-1__info-text"><strong>98%</strong> ингредиентов натурального происхождения</div>
		</div>
		<div class="block-1__info-item">
			<div class="block-1__info-icon">
				<img src="@img/icon-allergic.png" width="58" height="59" alt="">
			</div>
			<div class="block-1__info-text"><strong>Гипоаллергенные отдушки (ароматы)</strong>, которые не вызывают раздражений и аллергических реакций</div>
		</div>
	</div>
</div>