<div class="block-3">
	<div class="block-3__banner">
		<img src="@img/banner-middle-1920.jpg" width="1600" height="699" alt="" loading="lazy">

	</div>

	<div class="block-3__eco">
		<div class="block-3__eco-header">Продукция <b class="text-green">ТМ&nbsp;BioLogica</b> соответствует этическим стандартам и имеет сертификат Vegan и Эко-сертификат</div>
		<div class="block-3__eco-logos">
			<img src="@img/icon-eco-green.png" width="196" height="196" alt="" loading="lazy">
			<img src="@img/icon-vegan-green.png" width="196" height="196" alt="" loading="lazy">
			<img src="@img/icon-ferment-green.png" width="196" height="196" alt="" loading="lazy">
		</div>
	</div>

	<div class="block-3__certs">
		<div class="block-3__cert-item">
			<a href="@img/cert-1.jpg" data-fancybox aria-label="Сертификат">
				<img src="@img/cert-1.jpg" width="705" height="942" alt="" loading="lazy">
			</a>
		</div>
		<div class="block-3__cert-item">
			<a href="@img/cert-2.jpg" data-fancybox aria-label="Сертификат">
				<img src="@img/cert-2.jpg" width="681" height="942" alt="" loading="lazy">
			</a>
		</div>
	</div>

	<div class="block-3__buy">
		<div class="block-3__buy-header">Где купить?</div>

		<div class="f-carousel" id="carouselBuy">

			<div class="f-carousel__slide">
				<a href="https://russcosmetics.ru/brands/biologica/" target="_blank" rel="nofollow" aria-label="Купить на сайте Русская косметика">
					<img src="@img/buy-russcosmetics.png" width="145" height="63" alt="" loading="lazy">
				</a>
			</div>
			<div class="f-carousel__slide">
				<a href="https://www.ozon.ru/seller/russkaya-kosmetika-7543/krasota-i-zdorove-6500/biologica-149970160/?miniapp=seller_7543&opened=brand" target="_blank" rel="nofollow" aria-label="Купить на Озоне">
					<svg width="250" height="41">
						<use xlink:href="#buy-ozon"></use>
					</svg>
				</a>
			</div>
			<div class="f-carousel__slide">
				<a href="https://www.wildberries.ru/seller/10393?sort=popular&page=1&fbrand=32655" target="_blank" rel="nofollow" aria-label="Купить на Вайлдберрис">
					<svg width="250" height="25">
						<use xlink:href="#buy-wb"></use>
					</svg>
				</a>
			</div>
			<div class="f-carousel__slide">
				<a href="https://goldapple.ru/brands/biologica" target="_blank" rel="nofollow" aria-label="Купить в Золотом яблоке">
					<img src="@img/buy-goldapple.png" width="276" height="57" alt="" loading="lazy">
				</a>
			</div>
			<div class="f-carousel__slide">
				<a href="https://market.yandex.ru/catalog--tovary-dlia-krasoty/54438/list?text=Biologica&hid=90509&rs=eJwz8lOy4uJ0yszPyU_PTE4UOPboIbMSCweDACeYZICQGgxZDFUchmZmJkYWpuYNjL2HWbsYmTgYAxirWDmOrW5l2cDI8Jfxw0wLO6eVjFyGXBwcjAKMEowKjAJMUvLJBYnxxRn5BfGZecmlJfHlmSUZ8ckFufHFJal5yZk5CkDTuaTBWhQkeBVYBNikOFNS0xJLc0rijVAkQeYhSRqCJS3AkkJgnQJSismJxaWJOfHJiUX5pcWpOfFFqcUF-XnFmWWp8cWpiUXJGQr_ziVobJ3bDXSgF4eRhXGicaqlYZCRobmRkYWFgaGxsZGlob5lkkWigYGJRZJ5opFFSnJiiklKsqmpSWKasWGqgZmBgb6hviEAUg5OSg%2C%2C&glfilter=7893318%3A16642857" target="_blank" rel="nofollow" aria-label="Купить на Яндекс Маркете">
					<img src="@img/buy-yamarket.png" width="195" height="37" alt="" loading="lazy">
				</a>
			</div>

			<div class="f-carousel__slide">
				<a href="https://russcosmetics.ru/brands/biologica/" target="_blank" rel="nofollow" aria-label="Купить на сайте Русская косметика">
					<img src="@img/buy-russcosmetics.png" width="145" height="63" alt="" loading="lazy">
				</a>
			</div>
			<div class="f-carousel__slide">
				<a href="https://www.ozon.ru/seller/russkaya-kosmetika-7543/krasota-i-zdorove-6500/biologica-149970160/?miniapp=seller_7543&opened=brand" target="_blank" rel="nofollow" aria-label="Купить на Озоне">
					<svg width="250" height="41">
						<use xlink:href="#buy-ozon"></use>
					</svg>
				</a>
			</div>
			<div class="f-carousel__slide">
				<a href="https://www.wildberries.ru/seller/10393?sort=popular&page=1&fbrand=32655" target="_blank" rel="nofollow" aria-label="Купить на Вайлдберрис">
					<svg width="250" height="25">
						<use xlink:href="#buy-wb"></use>
					</svg>
				</a>
			</div>
			<div class="f-carousel__slide">
				<a href="https://goldapple.ru/brands/biologica" target="_blank" rel="nofollow" aria-label="Купить в Золотом яблоке">
					<img src="@img/buy-goldapple.png" width="276" height="57" alt="" loading="lazy">
				</a>
			</div>
			<div class="f-carousel__slide">
				<a href="https://market.yandex.ru/catalog--tovary-dlia-krasoty/54438/list?text=Biologica&hid=90509&rs=eJwz8lOy4uJ0yszPyU_PTE4UOPboIbMSCweDACeYZICQGgxZDFUchmZmJkYWpuYNjL2HWbsYmTgYAxirWDmOrW5l2cDI8Jfxw0wLO6eVjFyGXBwcjAKMEowKjAJMUvLJBYnxxRn5BfGZecmlJfHlmSUZ8ckFufHFJal5yZk5CkDTuaTBWhQkeBVYBNikOFNS0xJLc0rijVAkQeYhSRqCJS3AkkJgnQJSismJxaWJOfHJiUX5pcWpOfFFqcUF-XnFmWWp8cWpiUXJGQr_ziVobJ3bDXSgF4eRhXGicaqlYZCRobmRkYWFgaGxsZGlob5lkkWigYGJRZJ5opFFSnJiiklKsqmpSWKasWGqgZmBgb6hviEAUg5OSg%2C%2C&glfilter=7893318%3A16642857" target="_blank" rel="nofollow" aria-label="Купить на Яндекс Маркете">
					<img src="@img/buy-yamarket.png" width="195" height="37" alt="" loading="lazy">
				</a>
			</div>

		</div>
	</div>
</div>