<div class="block-2">
	<div class="block-2__content">
		<div class="block-2__h">Свойства:</div>
		<div class="block-2__options">
			<div class="block-2__list">
				<ol>
					<li>Восстанавливает микробиом (иммунитет) кожи</li>
					<li>Интенсивно увлажняет</li>
					<li>Способствует снятию раздражения кожи</li>
					<li>Оставляет шелковистое ощущение</li>
					<li>Уменьшает чувствительность кожи</li>
				</ol>
			</div>
			<div class="block-2__list">
				<ol start="6">
					<li>Восстанавливает барьерную функцию кожи</li>
					<li>Глубоко питает кожу</li>
					<li>Предотвращает преждевременное старение путём стимулирования «белков молодости»</li>
					<li>Разглаживает сухие и повреждённые волосы</li>
				</ol>
			</div>
			<div class="block-2__text">
				<div class="block-2__text-item">
					<div class="block-2__header">У&nbsp;<span class="text-green">85%</span> людей</div>
					<div class="block-2__body">
						принимающих участие в тестировании, уменьшилась раздражительность кожи
					</div>
				</div>
				<div class="block-2__text-item">
					<div class="block-2__header">У&nbsp;<span class="text-green">91%</span> людей</div>
					<div class="block-2__body">
						принимающих участие в тестировании, кожа стала более увлажнённой и шелковистой
					</div>
				</div>
				<div class="block-2__text-item">
					<div class="block-2__header">У&nbsp;<span class="text-green">95%</span> людей</div>
					<div class="block-2__body">
						принимающих участие в тестировании, улучшился тон кожи
					</div>
				</div>
				<div class="block-2__text-item">
					<div class="block-2__header">У&nbsp;<span class="text-green">87%</span> людей</div>
					<div class="block-2__body">
						принимающих участие в тестировании, улучшился рельеф кожи
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="block-2__carousel">
		<div class="f-carousel" id="carouselBlock2">
			<div class="f-carousel__slide">
				<div class="slide slide-1">
					<div class="slide__header">BIOLOGICA в цифрах</div>
					<div class="slide__body _complex">
						<img src="@img/decor-grass.png" class="slide-1-decor-grass" width="166" height="519" alt="">
						<img src="@img/slide-1.svg" class="slide-1-svg" width="331" height="392" alt="">
					</div>
					<div class="slide__footer">
						<div class="slide__descr">
							<img src="@img/icon-qr.png" width="44" height="44" alt="">
							<div>Разработаны в 2015 году Генеральной ассамблеей ООН</div>
						</div>
						<div class="slide__note">*Тестирование проводилось на сотрудниках компании ООО «Русская Косметика», в&nbsp;тестировании принимали участие 27 человек.</div>
					</div>
				</div>
			</div>
			<div class="f-carousel__slide">
				<div class="slide">
					<div class="slide__header">Эффективность комплекса <br>«Fermented biosaccharide»</div>
					<div class="slide__body">
						<img src="@img/slide-2.jpg" width="850" height="850" alt="">
					</div>
					<div class="slide__footer">
						<div class="slide__descr">
							<div>Кожа ДО тестирования комплексного ухода</div>
						</div>
						<div class="slide__note">*Тестирование проводилось на сотрудниках компании ООО «Русская Косметика», в&nbsp;тестировании принимали участие 27 человек.</div>
					</div>
				</div>
			</div>
			<div class="f-carousel__slide">
				<div class="slide">
					<div class="slide__header">Эффективность комплекса <br>«Fermented biosaccharide»</div>
					<div class="slide__body">
						<img src="@img/slide-3.jpg" width="850" height="850" alt="">
					</div>
					<div class="slide__footer">
						<div class="slide__descr">
							<div>Кожа ПОСЛЕ тестирования комплексного ухода</div>
						</div>
						<div class="slide__note">*Тестирование проводилось на сотрудниках компании ООО «Русская Косметика», в&nbsp;тестировании принимали участие 27 человек.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>