<div class="block-3">
	<div class="block-3__banner">
		<img src="@img/banner-middle-1920.jpg" width="1600" height="699" alt="">

	</div>

	<div class="block-3__eco">
		<div class="block-3__eco-header">Продукция <b class="text-green">ТМ&nbsp;BioLogica</b> соответствует этическим стандартам и имеет сертификат Vegan и Эко-сертификат</div>
		<div class="block-3__eco-logos">
			<img src="@img/icon-eco-green.png" width="196" height="196" alt="">
			<img src="@img/icon-vegan-green.png" width="196" height="196" alt="">
			<img src="@img/icon-ferment-green.png" width="196" height="196" alt="">
		</div>
	</div>

	<div class="block-3__certs">
		<div class="block-3__cert-item">
			<img src="@img/cert-1.jpg" width="705" height="942" alt="">
		</div>
		<div class="block-3__cert-item">
			<img src="@img/cert-2.jpg" width="681" height="942" alt="">
		</div>
	</div>

	<div class="block-3__buy">
		<div class="block-3__buy-header">Где купить?</div>

		<div class="f-carousel" id="carouselBuy">
			<div class="f-carousel__slide">
				<img src="@img/buy-megamarket.png" width="250" height="33" alt="">
			</div>
			<div class="f-carousel__slide">
				<img src="@img/buy-yamarket.png" width="250" height="37" alt="">
			</div>
			<div class="f-carousel__slide">
				<svg width="250" height="25">
					<use xlink:href="#buy-wb"></use>
				</svg>
			</div>
			<div class="f-carousel__slide">
				<svg width="250" height="41">
					<use xlink:href="#buy-ozon"></use>
				</svg>
			</div>
			
			<div class="f-carousel__slide">
				<img src="@img/buy-megamarket.png" width="250" height="33" alt="">
			</div>
			<div class="f-carousel__slide">
				<img src="@img/buy-yamarket.png" width="250" height="37" alt="">
			</div>
			<div class="f-carousel__slide">
				<svg width="250" height="25">
					<use xlink:href="#buy-wb"></use>
				</svg>
			</div>
			<div class="f-carousel__slide">
				<svg width="250" height="41">
					<use xlink:href="#buy-ozon"></use>
				</svg>
			</div>
		</div>
	</div>
</div>