<div class="card-data" data-id="card-1-02" data-da=".dynamic-adapt.card-1-02,767">
	<div class="card-data__top">
		<div class="card-data__images">
			<img src="@img/card-1/02-1.png" class="js-card-item" width="130" height="402" alt="" data-target="card-1-02-1">
			<img src="@img/card-1/02-2.png" class="js-card-item" width="135" height="421" alt="" data-target="card-1-02-2">
			<img src="@img/card-1/02-3.png" class="js-card-item" width="170" height="405" alt="" data-target="card-1-02-3">
			<img src="@img/card-1/02-4.png" class="js-card-item" width="160" height="361" alt="" data-target="card-1-02-4">
			<img src="@img/card-1/02-5.png" class="js-card-item" width="110" height="381" alt="" data-target="card-1-02-5">
		</div>
		<div class="card-data__descr">
			<div class="card-data__header">Fermented <br>recovery</div>
			<div class="card-data__body">Серия для восстановления волос</div>
			<div class="card-data__note">
				<div>Питает</div>
				<div>Восстанавливает</div>
				<div>Устраняет тусклость</div>
			</div>
		</div>
	</div>
	<div class="card-data__bottom">
		<div class="card-data__common">
			<div>Шампунь для восстановления волос Fermented recovery, 500 мл</div>
			<div>Бальзам для восстановления волос Fermented recovery, 300 мл</div>
			<div>Маска для восстановления волос Fermented recovery, 250 мл</div>
			<div>Ковошинг-бальзам для волос Fermented recovery, 350 мл</div>
			<div>Бальзам-спрей для волос Fermented recovery, 200 мл</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-1-02-1">
			<div class="item__header">Шампунь для восстановления волос Fermented recovery, 500 мл</div>
			<div class="item__row">
				<div class="item__title">Ферментированный комплекс</div>
				<div class="item__body">Разглаживает волосы, защищает от негативных факторов окружающей среды. Восстанавливает микробиом (иммунитет) кожи головы</div>
			</div>
			<div class="item__row">
				<div class="item__title">Протеины пшеницы</div>
				<div class="item__body">Интенсивно питают, увлажняют и укрепляют волосы</div>
			</div>
			<div class="item__row">
				<div class="item__title">Груша, шалфей, вербена</div>
				<div class="item__body">Устраняют тусклость и ломкость волос</div>
			</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-1-02-2">
			<div class="item__header">Бальзам для восстановления волос Fermented recovery, 300 мл</div>
			<div class="item__row">
				<div class="item__title">Ферментированный комплекс</div>
				<div class="item__body">Разглаживает волосы, защищает от негативных факторов окружающей среды. Восстанавливает микробиом (иммунитет) кожи головы</div>
			</div>
			<div class="item__row">
				<div class="item__title">Протеины пшеницы</div>
				<div class="item__body">Интенсивно питают, увлажняют и укрепляют волосы</div>
			</div>
			<div class="item__row">
				<div class="item__title">Груша, шалфей, вербена</div>
				<div class="item__body">Устраняют тусклость и ломкость волос</div>
			</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-1-02-3">
			<div class="item__header">Маска для восстановления волос Fermented recovery, 250 мл</div>
			<div class="item__row">
				<div class="item__title">Ферментированный комплекс</div>
				<div class="item__body">Разглаживает волосы, защищает от негативных факторов окружающей среды. Восстанавливает микробиом (иммунитет) кожи головы</div>
			</div>
			<div class="item__row">
				<div class="item__title">Протеины пшеницы</div>
				<div class="item__body">Интенсивно питают, увлажняют и укрепляют волосы</div>
			</div>
			<div class="item__row">
				<div class="item__title">Груша, шалфей, вербена</div>
				<div class="item__body">Устраняют тусклость и ломкость волос</div>
			</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-1-02-4">
			<div class="item__header">Ковошинг-бальзам для волос Fermented recovery, 350 мл</div>
			<div class="item__row">
				<div class="item__title">Ферментированный комплекс</div>
				<div class="item__body">Разглаживает волосы, защищает от негативных факторов окружающей среды. Восстанавливает микробиом (иммунитет) кожи головы</div>
			</div>
			<div class="item__row">
				<div class="item__title">Протеины пшеницы</div>
				<div class="item__body">Интенсивно питают, увлажняют и укрепляют волосы</div>
			</div>
			<div class="item__row">
				<div class="item__title">Груша, шалфей, вербена</div>
				<div class="item__body">Устраняют тусклость и ломкость волос</div>
			</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-1-02-5">
			<div class="item__header">Бальзам-спрей для волос Fermented recovery, 200 мл</div>
			<div class="item__row">
				<div class="item__title">Ферментированный комплекс</div>
				<div class="item__body">Разглаживает волосы, защищает от негативных факторов окружающей среды. Восстанавливает микробиом (иммунитет) кожи головы</div>
			</div>
			<div class="item__row">
				<div class="item__title">Протеины пшеницы</div>
				<div class="item__body">Интенсивно питают, увлажняют и укрепляют волосы</div>
			</div>
			<div class="item__row">
				<div class="item__title">Груша, шалфей, вербена</div>
				<div class="item__body">Устраняют тусклость и ломкость волос</div>
			</div>
		</div>
	</div>
</div>