<div class="card-data" data-id="card-3-01" data-da=".dynamic-adapt.card-3-01,767">
	<div class="card-data__top">
		<div class="card-data__images">
			<img src="@img/card-3/01-1.png" class="js-card-item" width="130" height="375" alt="" loading="lazy" data-target="card-3-01-1">
			<img src="@img/card-3/01-2.png" class="js-card-item" width="105" height="333" alt="" loading="lazy" data-target="card-3-01-2">
			<img src="@img/card-3/01-3.png" class="js-card-item" width="130" height="375" alt="" loading="lazy" data-target="card-3-01-3">
		</div>
		<div class="card-data__descr">
			<div class="card-data__header">Fermented <br>cleansing</div>
			<div class="card-data__body">Серия для глубокого очищения чувствительной кожи</div>
			<div class="card-data__note">
				<div>Бережно и эффективно очищают чувствительную кожу лица</div>
				<div>Обладают антибактериальным и заживляющим действием</div>
				<div>Улучшают общий вид кожи, смягчают и выравнивают тон</div>
			</div>
		</div>
	</div>
	<div class="card-data__bottom">
		<div class="card-data__common">
			<div>Тоник для чувствительной кожи лица Fermented cleansing, 300 мл</div>
			<div>Пенка для умывания для чувствительной кожи лица Fermented cleansing, 150 мл</div>
			<div>Мицеллярная вода для чувствительной кожи лица Fermented cleansing, 300 мл</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-3-01-1">
			<div class="item__header">Тоник для чувствительной кожи лица Fermented cleansing, 300 мл</div>
			<div class="item__row">
				<div class="item__title">Ферментированный комплекс</div>
				<div class="item__body">Нормализует микробиом (иммунитет) кожи</div>
			</div>
			<div class="item__row">
				<div class="item__title">Ниацинамид</div>
				<div class="item__body">Улучшает общий вид кожи, способствует снятию воспалений, смягчает и выравнивает тон кожи</div>
			</div>
			<div class="item__row">
				<div class="item__title">Центелла</div>
				<div class="item__body">Содержит компоненты, которые обладают антибактериальным и заживляющим действием</div>
			</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-3-01-2">
			<div class="item__header">Пенка для умывания для чувствительной кожи лица Fermented cleansing, 150 мл</div>
			<div class="item__row">
				<div class="item__title">Ферментированный комплекс</div>
				<div class="item__body">Нормализует микробиом (иммунитет) кожи</div>
			</div>
			<div class="item__row">
				<div class="item__title">Ниацинамид</div>
				<div class="item__body">Улучшает общий вид кожи, способствует снятию воспалений, смягчает и выравнивает тон кожи</div>
			</div>
			<div class="item__row">
				<div class="item__title">Центелла</div>
				<div class="item__body">Содержит компоненты, которые обладают антибактериальным и заживляющим действием</div>
			</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-3-01-3">
			<div class="item__header">Мицеллярная вода для чувствительной кожи лица Fermented cleansing, 300 мл</div>
			<div class="item__row">
				<div class="item__title">Ферментированный комплекс</div>
				<div class="item__body">Нормализует микробиом (иммунитет) кожи</div>
			</div>
			<div class="item__row">
				<div class="item__title">Ниацинамид</div>
				<div class="item__body">Улучшает общий вид кожи, способствует снятию воспалений, смягчает и выравнивает тон кожи</div>
			</div>
			<div class="item__row">
				<div class="item__title">Центелла</div>
				<div class="item__body">Содержит компоненты, которые обладают антибактериальным и заживляющим действием</div>
			</div>
		</div>
	</div>
</div>