<div class="card-data" data-id="card-3-02" data-da=".dynamic-adapt.card-3-02,767">
	<div class="card-data__top">
		<div class="card-data__images">
			<img src="@img/card-3/02-1.png" class="js-card-item" width="180" height="354" alt="" data-target="card-3-02-1">
			<img src="@img/card-3/02-2.png" class="js-card-item" width="180" height="354" alt="" data-target="card-3-02-2">
			<img src="@img/card-3/02-3.png" class="js-card-item" width="180" height="354" alt="" data-target="card-3-02-3">
		</div>
		<div class="card-data__descr">
			<div class="card-data__header"></div>
			<div class="card-data__body">Серия для увлажнения и питания губ</div>
			<div class="card-data__note _vertical">
				<div>Увлажнение 24 часа</div>
				<div>Устраняют шелушения</div>
				<div>Разглаживают и питают</div>
			</div>
		</div>
	</div>
	<div class="card-data__bottom">
		<div class="card-data__common">
			<div>Бальзам для губ RASPBERRY PARFAIT, 3,6 г</div>
			<div>Бальзам для губ STRAWBERRY MARMALADE,  3,6 г</div>
			<div>Бальзам для губ PEACH MALLOW, 3,6 г</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-3-02-1">
			<div class="item__header">Бальзам для губ RASPBERRY PARFAIT, 3,6 г</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-3-02-2">
			<div class="item__header">Бальзам для губ STRAWBERRY MARMALADE,  3,6 г</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-3-02-3">
			<div class="item__header">Бальзам для губ PEACH MALLOW, 3,6 г</div>
		</div>
	</div>
</div>