<div class="card-data" data-id="card-1-01" data-da=".dynamic-adapt.card-1-01,767">
	<div class="card-data__top">
		<div class="card-data__images">
			<img src="@img/card-1/01-1.png" class="js-card-item" width="130" height="349" alt="" loading="lazy" data-target="card-1-01-1">
			<img src="@img/card-1/01-2.png" class="js-card-item" width="115" height="342" alt="" loading="lazy" data-target="card-1-01-2">
			<img src="@img/card-1/01-3.png" class="js-card-item" width="170" height="299" alt="" loading="lazy" data-target="card-1-01-3">
			<img src="@img/card-1/01-4.png" class="js-card-item" width="190" height="298" alt="" loading="lazy" data-target="card-1-01-4">
		</div>
		<div class="card-data__descr">
			<div class="card-data__header">Fermented <br>volume</div>
			<div class="card-data__body">Серия для придания объёма волосам</div>
			<div class="card-data__note">
				<div>Без утяжеления</div>
				<div>Интенсивно увлажняют</div>
				<div>Увеличивают густоту</div>
			</div>
		</div>
	</div>
	<div class="card-data__bottom">
		<div class="card-data__common">
			<div>Шампунь для придания объема волосам Fermented volume, 500 мл</div>
			<div>Бальзам для придания объема волосам Fermented volume, 300 мл</div>
			<div>Маска для придания объема волосам Fermented volume, 250 мл</div>
			<div>Охлаждающий скраб для кожи головы Fermented scrubbing, 450 г</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-1-01-1">
			<div class="item__header">Шампунь для придания объема волосам Fermented volume, 500 мл</div>
			<div class="item__row">
				<div class="item__title">Ферментированный комплекс</div>
				<div class="item__body">Обволакивает кутикулу волоса, создавая натуральный барьер от негативных факторов окружающей среды. Восстанавливает микробиом (иммунитет) кожи головы.</div>
			</div>
			<div class="item__row">
				<div class="item__title">Протеины пшеницы</div>
				<div class="item__body">Интенсивно питают, увлажняют и укрепляют волосы</div>
			</div>
			<div class="item__row">
				<div class="item__title">Люпин белый</div>
				<div class="item__body">Увеличивает густоту волос</div>
			</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-1-01-2">
			<div class="item__header">Бальзам для придания объема волосам Fermented volume, 300 мл</div>
			<div class="item__row">
				<div class="item__title">Ферментированный комплекс</div>
				<div class="item__body">Обволакивает кутикулу волоса, создавая натуральный барьер от негативных факторов окружающей среды. Восстанавливает микробиом (иммунитет) кожи головы.</div>
			</div>
			<div class="item__row">
				<div class="item__title">Протеины пшеницы</div>
				<div class="item__body">Интенсивно питают, увлажняют и укрепляют волосы</div>
			</div>
			<div class="item__row">
				<div class="item__title">Люпин белый</div>
				<div class="item__body">Увеличивает густоту волос</div>
			</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-1-01-3">
			<div class="item__header">Маска для придания объема волосам Fermented volume, 250 мл</div>
			<div class="item__row">
				<div class="item__title">Ферментированный комплекс</div>
				<div class="item__body">Обволакивает кутикулу волоса, создавая натуральный барьер от негативных факторов окружающей среды. Восстанавливает микробиом (иммунитет) кожи головы.</div>
			</div>
			<div class="item__row">
				<div class="item__title">Протеины пшеницы</div>
				<div class="item__body">Интенсивно питают, увлажняют и укрепляют волосы</div>
			</div>
			<div class="item__row">
				<div class="item__title">Люпин белый</div>
				<div class="item__body">Увеличивает густоту волос</div>
			</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-1-01-4">
			<div class="item__header">Охлаждающий скраб для кожи головы Fermented volume, 450 г</div>
			<div class="item__row">
				<div class="item__title">Ферментированный комплекс</div>
				<div class="item__body">Обволакивает кутикулу волоса, создавая натуральный барьер от негативных факторов окружающей среды. Восстанавливает микробиом (иммунитет) кожи головы.</div>
			</div>
			<div class="item__row">
				<div class="item__title">Протеины пшеницы</div>
				<div class="item__body">Интенсивно питают, увлажняют и укрепляют волосы</div>
			</div>
			<div class="item__row">
				<div class="item__title">Люпин белый</div>
				<div class="item__body">Увеличивает густоту волос</div>
			</div>
		</div>
	</div>
</div>