<div class="card-data" data-id="card-1-03" data-da=".dynamic-adapt.card-1-03,767">
	<div class="card-data__top">
		<div class="card-data__images">
			<img src="@img/card-1/03-1.png" class="js-card-item" width="130" height="380" alt="" loading="lazy" data-target="card-1-03-1">
			<img src="@img/card-1/03-2.png" class="js-card-item" width="135" height="421" alt="" loading="lazy" data-target="card-1-03-2">
			<img src="@img/card-1/03-3.png" class="js-card-item" width="210" height="413" alt="" loading="lazy" data-target="card-1-03-3">
		</div>
		<div class="card-data__descr">
			<div class="card-data__header">Fermented <br>strength</div>
			<div class="card-data__body">Линейка для укрепления и роста волос</div>
			<div class="card-data__note">
				<div>Сокращет выпадение</div>
				<div>Улучшают структуру</div>
				<div>Предотвращают истончение</div>
			</div>
		</div>
	</div>
	<div class="card-data__bottom">
		<div class="card-data__common">
			<div>Шампунь для укрепления и роста волос Fermented strength, 500 мл</div>
			<div>Бальзам для укрепления и роста волос Fermented strength, 300 мл</div>
			<div>Маска для укрепления и роста волос Fermented strength, 250 мл</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-1-03-1">
			<div class="item__header">Шампунь для укрепления и роста волос Fermented strength, 500 мл</div>
			<div class="item__row">
				<div class="item__title">Ферментированный комплекс</div>
				<div class="item__body">Обволакивает кутикулу волоса, создавая натуральный барьер от негативных факторов окружающей среды. Восстанавливает микробиом (иммунитет) кожи головы.</div>
			</div>
			<div class="item__row">
				<div class="item__title">Протеины пшеницы</div>
				<div class="item__body">Интенсивно питают, увлажняют и укрепляют волосы</div>
			</div>
			<div class="item__row">
				<div class="item__title">Люпин белый</div>
				<div class="item__body">Увеличивает густоту волос</div>
			</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-1-03-2">
			<div class="item__header">Бальзам для укрепления и роста волос Fermented strength, 300 мл</div>
			<div class="item__row">
				<div class="item__title">Ферментированный комплекс</div>
				<div class="item__body">Обволакивает кутикулу волоса, создавая натуральный барьер от негативных факторов окружающей среды. Восстанавливает микробиом (иммунитет) кожи головы.</div>
			</div>
			<div class="item__row">
				<div class="item__title">Протеины пшеницы</div>
				<div class="item__body">Интенсивно питают, увлажняют и укрепляют волосы</div>
			</div>
			<div class="item__row">
				<div class="item__title">Люпин белый</div>
				<div class="item__body">Увеличивает густоту волос</div>
			</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-1-03-3">
			<div class="item__header">Маска для укрепления и роста волос Fermented strength, 250 мл</div>
			<div class="item__row">
				<div class="item__title">Ферментированный комплекс</div>
				<div class="item__body">Обволакивает кутикулу волоса, создавая натуральный барьер от негативных факторов окружающей среды. Восстанавливает микробиом (иммунитет) кожи головы.</div>
			</div>
			<div class="item__row">
				<div class="item__title">Протеины пшеницы</div>
				<div class="item__body">Интенсивно питают, увлажняют и укрепляют волосы</div>
			</div>
			<div class="item__row">
				<div class="item__title">Люпин белый</div>
				<div class="item__body">Увеличивает густоту волос</div>
			</div>
		</div>
	</div>
</div>