<div class="cards">
	<div class="cards__h">Уход для волос</div>

	<div class="cards__wrapper">
		<a href="javascript:void(0)" class="card js-accordion-trigger" data-target="card-1-01" aria-label="для объёма волос">
			<div class="card__image">
				<img src="@img/card-1-01.png" width="382" height="382" alt="" loading="lazy">
			</div>
			<div class="card__title">для объёма</div>
			<div class="card__desc">
				<div class="card__num">01</div>
				<div class="card__more">
					<div class="card__btn">
						<span>
							<svg width="24" height="24">
								<use xlink:href="#icon-arrow"></use>
							</svg>
						</span>
						Подробнее
					</div>
				</div>
			</div>
		</a>
		<div class="dynamic-adapt card-1-01"></div>

		<a href="javascript:void(0)" class="card js-accordion-trigger" data-target="card-1-02" aria-label="для восстановления волос">
			<div class="card__image">
				<img src="@img/card-1-02.png" width="382" height="382" alt="" loading="lazy">
			</div>
			<div class="card__title">для восстановления</div>
			<div class="card__desc">
				<div class="card__num">02</div>
				<div class="card__more">
					<div class="card__btn">
						<span>
							<svg width="24" height="24">
								<use xlink:href="#icon-arrow"></use>
							</svg>
						</span>
						Подробнее
					</div>
				</div>
			</div>
		</a>
		<div class="dynamic-adapt card-1-02"></div>

		<a href="javascript:void(0)" class="card js-accordion-trigger" data-target="card-1-03" aria-label="для укрепления волос">
			<div class="card__image">
				<img src="@img/card-1-03.png" width="382" height="382" alt="" loading="lazy">
			</div>
			<div class="card__title">для укрепления</div>
			<div class="card__desc">
				<div class="card__num">03</div>
				<div class="card__more">
					<div class="card__btn">
						<span>
							<svg width="24" height="24">
								<use xlink:href="#icon-arrow"></use>
							</svg>
						</span>
						Подробнее
					</div>
				</div>
			</div>
		</a>
		<div class="dynamic-adapt card-1-03"></div>
	</div>

	<div class="cards__content">
		@@include('card-1-01.html', {})
		@@include('card-1-02.html', {})
		@@include('card-1-03.html', {})
	</div>


	<div class="cards__h">Уход для тела</div>

	<div class="cards__wrapper">
		<a href="javascript:void(0)" class="card js-accordion-trigger" data-target="card-2-01" aria-label="для объёма волос">
			<div class="card__image">
				<img src="@img/card-2-01.png" width="382" height="382" alt="" loading="lazy">
			</div>
			<div class="card__title">для увлажнения</div>
			<div class="card__desc">
				<div class="card__num">01</div>
				<div class="card__more">
					<div class="card__btn">
						<span>
							<svg width="24" height="24">
								<use xlink:href="#icon-arrow"></use>
							</svg>
						</span>
						Подробнее
					</div>
				</div>
			</div>
		</a>
		<div class="dynamic-adapt card-2-01"></div>
		
		<a href="javascript:void(0)" class="card js-accordion-trigger" data-target="card-2-02" aria-label="для восстановления волос">
			<div class="card__image">
				<img src="@img/card-2-02.png" width="382" height="382" alt="" loading="lazy">
			</div>
			<div class="card__title">для питания</div>
			<div class="card__desc">
				<div class="card__num">02</div>
				<div class="card__more">
					<div class="card__btn">
						<span>
							<svg width="24" height="24">
								<use xlink:href="#icon-arrow"></use>
							</svg>
						</span>
						Подробнее
					</div>
				</div>
			</div>
		</a>
		<div class="dynamic-adapt card-2-02"></div>

		<a href="javascript:void(0)" class="card js-accordion-trigger" data-target="card-2-03" aria-label="для укрепления волос">
			<div class="card__image">
				<img src="@img/card-2-03.png" width="382" height="382" alt="" loading="lazy">
			</div>
			<div class="card__title">для тонизирования</div>
			<div class="card__desc">
				<div class="card__num">03</div>
				<div class="card__more">
					<div class="card__btn">
						<span>
							<svg width="24" height="24">
								<use xlink:href="#icon-arrow"></use>
							</svg>
						</span>
						Подробнее
					</div>
				</div>
			</div>
		</a>
		<div class="dynamic-adapt card-2-03"></div>
	</div>

	<div class="cards__content">
		@@include('card-2-01.html', {})
		@@include('card-2-02.html', {})
		@@include('card-2-03.html', {})
	</div>
</div>