<div class="card-data" data-id="card-2-03" data-da=".dynamic-adapt.card-2-03,767">
	<div class="card-data__top">
		<div class="card-data__images">
			<img src="@img/card-2/03-1.png" class="js-card-item" width="133" height="366" alt="" loading="lazy" data-target="card-2-03-1">
			<img src="@img/card-2/03-2.png" class="js-card-item" width="133" height="340" alt="" loading="lazy" data-target="card-2-03-2">
		</div>
		<div class="card-data__descr">
			<div class="card-data__header">Fermented <br>toning</div>
			<div class="card-data__body">Серия для тонизирования кожи</div>
			<div class="card-data__note">
				<div>Повышают упругость и эластичность кожи, улучшают тонус кожи</div>
				<div>Тонизируют кожу, питают смягчают, делают бархатистой</div>
				<div>Восстанавливают кожу после негативного воздействия окружающей среды</div>
			</div>
		</div>
	</div>
	<div class="card-data__bottom">
		<div class="card-data__common">
			<div>Гель с маслом для душа тонизирующий Fermented toning, 500 мл</div>
			<div>Лосьон для тела тонизирующий Fermented toning, 300 мл</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-2-03-1">
			<div class="item__header">Гель с маслом для душа тонизирующий Fermented toning, 500 мл</div>
			<div class="item__row">
				<div class="item__title">Ферментированный комплекс</div>
				<div class="item__body">Укрепляет естественную защиту кожи, ускоряет химические реакции, протекающие в тканях. Восстанавливает микробиом (иммунитет) кожи.</div>
			</div>
			<div class="item__row">
				<div class="item__title">Д-пантенол</div>
				<div class="item__body">Интенсивно питает и восстанавливает кожу</div>
			</div>
			<div class="item__row">
				<div class="item__title">Масло миндаля</div>
				<div class="item__body">Тонизирует кожу, питает, смягчает, делает бархатистой, восстанавливает после негативного воздействия окружающей среды</div>
			</div>
		</div>
		<div class="card-data__item item hidden" data-id="card-2-03-2">
			<div class="item__header">Лосьон для тела тонизирующий Fermented toning, 300 мл</div>
			<div class="item__row">
				<div class="item__title">Ферментированный комплекс</div>
				<div class="item__body">Укрепляет естественную защиту кожи, ускоряет химические реакции, протекающие в тканях. Восстанавливает микробиом (иммунитет) кожи.</div>
			</div>
			<div class="item__row">
				<div class="item__title">Д-пантенол</div>
				<div class="item__body">Интенсивно питает и восстанавливает кожу</div>
			</div>
			<div class="item__row">
				<div class="item__title">Масло миндаля</div>
				<div class="item__body">Тонизирует кожу, питает, смягчает, делает бархатистой, восстанавливает после негативного воздействия окружающей среды</div>
			</div>
		</div>
	</div>
</div>