<div class="drop drop-1"><img src="@img/drops/drop-1.png" width="70" height="108" alt="" loading="lazy"></div>
<div class="drop drop-2"><img src="@img/drops/drop-2.png" width="67" height="101" alt="" loading="lazy"></div>
<div class="drop drop-3"><img src="@img/drops/drop-2.png" width="67" height="101" alt="" loading="lazy"></div>
<div class="drop drop-4"><img src="@img/drops/drop-1.png" width="70" height="108" alt="" loading="lazy"></div>
<div class="drop drop-5"><img src="@img/drops/drop-2.png" width="67" height="101" alt="" loading="lazy"></div>
<div class="drop drop-6"><img src="@img/drops/drop-1.png" width="70" height="108" alt="" loading="lazy"></div>
<div class="drop drop-7"><img src="@img/drops/drop-1.png" width="70" height="108" alt="" loading="lazy"></div>
<div class="drop drop-8"><img src="@img/drops/drop-2.png" width="67" height="101" alt="" loading="lazy"></div>

<div class="drop drop-static-1"><img src="@img/drops/drops-static-1.png" width="397" height="415" alt="" loading="lazy"></div>
<div class="drop drop-static-2"><img src="@img/drops/drops-static-3.png" width="444" height="457" alt="" loading="lazy"></div>
<div class="drop drop-static-3"><img src="@img/drops/drops-static-1.png" width="397" height="415" alt="" loading="lazy"></div>
<div class="drop drop-static-4"><img src="@img/drops/drops-static-1.png" width="397" height="415" alt="" loading="lazy"></div>
<div class="drop drop-static-5"><img src="@img/drops/drops-static-2.png" width="400" height="398" alt="" loading="lazy"></div>
<div class="drop drop-static-6"><img src="@img/drops/drops-static-1.png" width="397" height="415" alt="" loading="lazy"></div>
<div class="drop drop-static-7"><img src="@img/drops/drops-static-2.png" width="400" height="398" alt="" loading="lazy"></div>